services:
  mongo:
    image: mongo:7
    container_name: pulseboard_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: pulseboard_backend
    ports:
      - "4000:4000"
    environment:
      NODE_ENV: production
      PORT: 4000
      MONGO_URI: mongodb://mongo:27017/pulseboard
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_BASE_URL: http://localhost:4000/api/v1
    ports:
      - "5173:80"
    depends_on:
      - backend

  mongo-express:
    image: mongo-express:latest
    container_name: pulseboard_mongo_express
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
    depends_on:
      - mongo

volumes:
  mongo_data:
